body, html {
    margin: 0;
    height:100%;
}

#favorites{
    float: left, top;
    margin: 5px;
}

#addtofavorits{
    margin-top: 5px;
    margin-bottom: 5px;
}

#location{
    margin-bottom: 5px;
}

.buttonclick{
    cursor:pointer; 
}

#latlng {
    width: 225px;
}

p {
    font-weight: bold;
    font-size: 16px;
}
.box {
    width: 330px;
    height: 195px;
    background-color: #0C5D8A;
    color: #fff;
    margin: 3em auto;
    border: 3px;
    border-color: #000000;
    padding-left: 10px;
    padding-top: 5px;
}

.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0C5D8A;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6699ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
    content:'°C';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
    content:'°F';
}

.bottomStuff {
    position: fixed;
    bottom: -70%;
    height: 330px;
    background-color: rgba(255,255,255,1);
    transition: bottom .5s;
    width:100%;
}

.bottomStuff.active {
    position: fixed;
    bottom: 0;
}
#closecross{
    float: right;
}